<header>
  <div class="container">
    <nav>
      <div class="logo">GameVerse</div>
      <div class="nav-links">
        <a href="/games">Games</a>
        <a href="/genres">Genres</a>
        <a href="/games/create">Add Game</a>
        <a href="/genres/create">Add Genre</a>
      </div>
    </nav>
  </div>
</header>

<script>
  document.querySelector(".logo").addEventListener("click", function () {
    window.location.href = "/";
  });
</script>
