<header>
  <div class="container">
    <nav>
      <div class="logo">GameVerse</div>
      <div class="nav-links">
        <a href="/games">Games</a>
        <a href="/genres">Genres</a>
      </div>
    </nav>
  </div>
</header>
