<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GameVerse - Your Ultimate Gaming Destination</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/new.css" />
  </head>
  <body>
    <%- include('header') %>

    <main>
      <div class="container">
        <h1>Add a New Genre</h1>
        <form action="/genres/create" method="POST">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>
          </div>
          <div class="form-group">
            <label for="image_url">Image URL:</label>
            <input type="text" id="image_url" name="image_url" />
          </div>
          <button type="submit">Add Genre</button>
        </form>
      </div>
    </main>

    <%- include('footer') %>
  </body>
</html>
